body {
    font-family: Arial, sans-serif;
    background-color: #0a0a0a;
    color: #00ff00;
    text-align: center;
}

h1 {
    color: #00ff00;
}

label {
    color: #00ff00;
    font-weight: bold;
}

button {
    background-color: #00aa00;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #008800;
}

.game-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2%;
}

canvas {
    background-color: #111;
    border: 2px solid #00ff00;
    display: block;
    width: 100vw;
}

#flightInfo {
    width: 200px;
    height: 150px;
    background: #002200;
    color: #00ff00;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #00ff00;
    text-align: left;
}

#flightInfo h3 {
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #00ff00;
    text-align: center;
}





@media screen and (min-width:750px) {
    .game-container{
        flex-direction: row;
        justify-content: space-around;
        padding: 0%;
    }

    canvas{
        margin-top: 0.5%;
        width: 70%;
        height: 80vh;
    }
}